<section class="main-section">
  <div class="search-container" *ngIf="!isLoading">
    <label for="search-box">Search:</label>
    <input #searchBox id="search-box" (input)="search(searchBox.value)"/>
  </div>
  <div class="planets-container" *ngIf="planets.length > 0 && !isLoading">
    <div class="single-planet" *ngFor="let planet of planets" (click)="goToPlanetDetails(planet.name)">
      <app-planet-image [planetUrl]="planet.url"></app-planet-image>
      <span>{{planet.name}}</span>
    </div>
  </div>
  <div class="spinner">
    <mat-spinner *ngIf="isLoading" color="warn"></mat-spinner>
  </div>
  <mat-paginator [length]="totalPlanets" [pageSize]="planetsPerPage" [pageSizeOptions]="pageSizeOptions"
                 (page)="changePage($event)"></mat-paginator>
</section>

