/* You can add global styles to this file, and also import other style files */
html, body {
  margin: 0;
  background-color: #000033;
  height: 100%;
}

@font-face {
  font-family: "Roboto-Black";
  src: url('src/assets/fonts/Roboto-Black.ttf') format("opentype");
}

@font-face {
  font-family: "Roboto-Bold";
  src: url('src/assets/fonts/Roboto-Bold.ttf') format("opentype");
}

body {
  margin: 0;
  font-family: "Roboto-Black";
}
